---
import LayoutPanel from "@layouts/LayoutPanel/LayoutPanel.astro";
import { SONGS } from "./config";
---

<LayoutPanel title={SONGS.display}>
  <main>
    <h1>NCS</h1>
  </main>
</LayoutPanel>

<style>
  main {
    padding: var(--lg);
  }
</style>
